html,body{
  margin:0 auto;
  font-family:Arial;
}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:rgb(164, 100, 237);
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:rgb(70, 79, 158);
}
#banner{
  background-color:rgb(162, 0, 255);
  color:white;
}
#footer{
  background-color:rgb(164, 100, 237);
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  max-width:300px;
  min-width:300px;
}

.highlight{
  font-style:italic;
  color:rgb(162, 0, 255);
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:rgb(61, 54, 129);
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:rgb(164, 100, 237);
}
#output{
  flex-wrap:wrap;
}
.fit{
  width:150px;
  height:150px;
  object-fit:cover;
}
.container{
    display:flex;
}
#main.card{
    flex:1;
}
.card{
    margin:20px;
    padding:10px;
    border:1px black solid;
}
 
#banner {
    background-image: url(ITALY.png);
    background-position: center center;
    background-size: cover;
    height: 180px;
}
nav a{
    flex:1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
nav a{
    background-color: rgb(157, 20, 220);
}
#text div{
    font-size: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    background-color: aliceblue;
    filter: grayscale(75%);
}
.card:hover{
    box-shadow: 0 8px 16px 0 black;
    filter: grayscale(0%);
}
nav a:hover{
    background-color: burlywood;
    color: antiquewhite;
    box-shadow: 0 4px 0;
    transition: 0.5s;
}
#footer{
    background-color: rgb(231, 48, 255);
}